
@font-face {
	font-family: 'Source Sans Pro';
	src: url('fonts/SourceSansPro-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('fonts/SourceSansPro-Light.ttf');
	font-weight: 300;
}


@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(720deg);
	}
}

@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(720deg);
	}
}

@keyframes blinking {
	0% {
		transform: scale3d(1.0, 1.0, 1.0);
	}
	50% {
		transform: scale3d(1.125, 1.125, 1.125);
	}
	100% {
		transform: scale3d(1.0, 1.0, 1.0);
	}
}

@-webkit-keyframes blinking {
	0% {
		-webkit-transform: scale3d(1.0, 1.0, 1.0);
	}
	50% {
		-webkit-transform: scale3d(1.125, 1.125, 1.125);
	}
	100% {
		-webkit-transform: scale3d(1.0, 1.0, 1.0);
	}
}


html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	overflow: hidden;
	white-space: nowrap;
}

nav {
	display: inline-block;
	position: fixed;
	top: 1em;
	left: 1em;
	z-index: 100;
}

nav a {
	display: inline-block;
	height: 1.5em;
	padding: 0;
	margin: 0 0.5em;
	text-decoration: none;
	opacity: 0.9375;
	cursor: pointer;
}

a#trash {
	display: none;
	position: fixed;
	top: 5em;
	left: calc(50% - 2.5em);
	right: calc(50% - 2.5em);
	width: 5em;
	height: 5em;
	background-image: url('trash.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 100;
	cursor: pointer;
}

a#trash.active {
	background-image: url('trash-active.png');
}

a#autonomous-ended, a#teleop-ended {
	position: fixed;
	top: 1em;
	right: 5em;
	color: #fff;
	display: inline-block;
	padding: 0.75em 1.5em;
	font-size: 1.25em;
	font-weight: 300;
	text-decoration: none;
	z-index: 100;
	cursor: pointer;
}

a#autonomous-ended {
	background-color: #2bbe69;
}

a#autonomous-ended.blinking {
	-webkit-animation: blinking 1s ease infinite;
	        animation: blinking 1s ease infinite;
}

a#teleop-ended {
	display: none;
	background-color: #e74c3c;
}

a#robot-state {
	position: fixed;
	top: 1.5em;
	right: 1em;
	width: 2em;
	height: 1.5em;
	padding: 0;
	border: none;
	border-radius: 0.25em;
	font-size: 1.25em;
	z-index: 100;
	cursor: pointer;
	-webkit-transition: background-color 0.125s ease;
	        transition: background-color 0.125s ease;
}

a#robot-state.enabled {
	background-color: #2ecc71;
	border-right: 1em solid #ecf0f1;
}

a#robot-state.disabled {
	background-color: #e74c3c;
	border-left: 1em solid #ecf0f1;
}

a#robot-orientation {
	position: fixed;
	top: 5em;
	right: 1.75em;
	width: 3em;
	height: 3em;
	background-image: url('robot.png');
	background-position: center;
	background-size: 100%;
	z-index: 100;
	cursor: pointer;
	-webkit-transition: -webkit-transform 0.125s ease;
	        transition: transform 0.125s ease;
}

a#robot-orientation.fell-over {
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}

span#matchNumberDisplay, span#teamNumberDisplay {
	position: fixed;
	left: 1.5em;
	color: #555;
	font-size: 1.25em;
	font-weight: 300;
	z-index: 100;
}

span#matchNumberDisplay {
	top: 1em;
}

span#teamNumberDisplay {
	top: 3em;
}

body>span span {
	color: #3498db;
}

div.B {
	width: 1em;
	height: 1.45em;
	margin: 0 0.5em;
	background-color: #666;
	border-top: 0.05em solid #777;
}

div.L {
	width: 0.125em;
	height: 0.45em;
	margin: 0 0.9375em;
	background-color: #2ecc71;
	border-top: 0.05em solid #27ae60;
}

div.F {
	position: relative;
	width: 2em;
	height: 0.95em;
	margin: 0;
	background-color: #999;
	border-top: 0.05em solid #777;
}

div.F:after {
	content: 'F';
	position: absolute;
	top: 0;
	left: 0.5em;
	color: #222;
	font-size: 0.3em;
	font-weight: 400;
	z-index: 100;
}

div.F:before {
	content: attr(teamNumber);
	position: absolute;
	top: 0;
	right: 0.6em;
	color: #444;
	font-size: 0.25em;
	font-weight: 400;
	z-index: 100;
}

div.H {
	position: relative;
	width: 2em;
	height: 0.95em;
	margin: 0;
	background-color: #999;
	border-top: 0.05em solid #777;
}

div.H:after {
	content: 'C';
	position: absolute;
	top: 0;
	left: 0.5em;
	color: #222;
	font-size: 0.3em;
	font-weight: 400;
	z-index: 100;
}

div.H:before {
	content: attr(teamNumber);
	position: absolute;
	top: 0;
	right: 0.6em;
	color: #444;
	font-size: 0.25em;
	font-weight: 400;
	z-index: 100;
}

div.Y {
	width: 2em;
	height: 0.95em;
	margin: 0;
	background-color: #f1c40f;
	border-top: 0.05em solid #f39c12;
}

div.P {
	width: 2em;
	height: 0.062em;
	margin: 0;
	background-color: #3498db;
	border-top: 0.05em solid #2980b9;
}

body>div#main {
	height: calc(100% - 9em);
	overflow: hidden;
	white-space: nowrap;
}

body>div#main section {
	display: inline-block;
	position: relative;
	height: 100%;
	text-align: center;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	transition: left 0.25s linear, width 0.25s linear;
}

body>div#main section#global {
	width: 75%;
}

body>div#main section#local {
	width: 25%;
}

body>div#main section>div {
	display: inline-block;
	height: calc(100% - 0.5em);
	border-bottom: 0.5em solid #555;
	font-size: 3em;
}

body>div#main section>div.active {
	background-color: #ecf0f1;
	border-bottom: 0.5em solid #777;
}

body>div#main section>div.spacer {
	width: 1em;
	transition: width 0.125s ease;
}

body>div#main section>div.spacer.active {
	width: 2em;
}

body>div#main section>div.stack {
	position: relative;
	width: 2em;
}

body>div#main section>div.stack>div {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

body>div#palette {
	height: 3em;
	overflow-x: auto;
	overflow-y: hidden;
	background-color: #222;
	font-size: 3em;
	text-align: center;
}

body>div#palette>div {
	display: inline-block;
	width: 2em;
	max-height: 2em;
	padding: 0.5em;
}

body>div#palette div div.L {
	height: 1.95em;
}

div#overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 100;
}

div#loading {
	position: fixed;
	left: calc(50% - 1em);
	right: calc(50% - 1em);
	display: none;
	width: 0;
	height: 0;
	border-top: 1em solid #3498db;
	border-bottom: 1em solid #d35400;
	border-left: 1em solid #2ecc71;
	border-right: 1em solid #f1c40f;
	border-radius: 50%;
	opacity: 0.875;
	z-index: 100;
	-webkit-animation: rotating 2s ease infinite;
	        animation: rotating 2s ease infinite;
}

form {
	position: fixed;
	display: none;
	left: calc(50% - 15em);
	right: calc(50% - 15em);
	width: 30em;
	z-index: 100;
}

form h3 {
	color: #555;
	width: calc(100% - 2em);
	padding: 1.5em 1em;
	margin: 0;
	background-color: rgba(255, 255, 255, 0.875);
	font-size: 1.25em;
	font-weight: 300;
	line-height: 1.25em;
	text-align: center;
}

form h3 span {
	color: #3498db;
}

form input[type='text'] {
	display: block;
	color: #555;
	width: calc(100% - 2em);
	padding: 0.75em 1em;
	margin: 0;
	background-color: rgba(255, 255, 255, 0.875);
	border: none;
	outline: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2em;
	font-weight: 300;
	text-align: center;
}

form a {
	display: block;
	color: #fff;
	width: 100%;
	padding: 0.75em 0;
	margin: 0;
	background-color: #3498db;
	border: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	text-decoration: none;
	text-align: center;
}

form#ready span#alliance.red {
	color: #e74c3c;
}

form#ready span#alliance.blue {
	color: #3498db;
}
