
@font-face {
	font-family: 'Source Sans Pro';
	src: url('SourceSansPro-Regular.ttf');
	font-weight: 400;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	overflow: hidden;
	white-space: nowrap;
}

nav {
	display: inline-block;
	position: fixed;
	top: 1em;
	left: 1em;
	z-index: 100;
}

nav a {
	display: inline-block;
	height: 1.5em;
	padding: 0;
	margin: 0 0.5em;
	text-decoration: none;
	opacity: 0.9375;
	cursor: pointer;
}

nav a#global-view, nav a#local-view {
	width: 1.5em;
	background-color: #16a085;
}

nav a#global-view.active, nav a#local-view.active {
	background-color: #1abc9c;
}

nav a#split-view {
	width: 0.25em;
	border-left: 0.75em solid #16a085;
	border-right: 0.75em solid #16a085;
}

nav a#split-view.active {
	border-left: 0.75em solid #1abc9c;
	border-right: 0.75em solid #1abc9c;
}

h1#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	color: #1abc9c;
	padding: 0.0625em 0;
	margin: 0;
	font-size: 3em;
	font-weight: 400;
	text-align: center;
	z-index: 99;
}

a#trash {
	display: none;
	position: fixed;
	top: 5em;
	left: calc(50% - 2.5em);
	right: calc(50% - 2.5em);
	width: 5em;
	height: 5em;
	background-image: url('trash.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 100;
	cursor: pointer;
}

a#trash.active {
	background-image: url('trash-active.png');
}

div.bin {
	width: 1em;
	height: 1.45em;
	margin: 0 0.5em;
	background-color: #666;
	border-top: 0.05em solid #777;
}

div.litter {
	width: 0.125em;
	height: 1.95em;
	margin: 0 0.9375em;
	background-color: #2ecc71;
	border-top: 0.05em solid #27ae60;
}

div.litter-binned {
	width: 0.125em;
	height: 1.95em;
	margin: 0 0.9375em;
	background-color: #2ecc71;
	border-top: 0.05em solid #27ae60;
	height: 0.45em;
}

div.tote {
	position: relative;
	width: 2em;
	height: 0.95em;
	margin: 0;
	background-color: #999;
	border-top: 0.05em solid #777;
}

div.tote:after {
	content: 'F';
	position: absolute;
	top: 0;
	left: 0.5em;
	color: #222;
	font-size: 0.3em;
	font-weight: 400;
	z-index: 100;
}

div.chute-tote {
	position: relative;
	width: 2em;
	height: 0.95em;
	margin: 0;
	background-color: #999;
	border-top: 0.05em solid #777;
}

div.chute-tote:after {
	content: 'C';
	position: absolute;
	top: 0;
	left: 0.5em;
	color: #222;
	font-size: 0.3em;
	font-weight: 400;
	z-index: 100;
}

div.yellow-tote {
	width: 2em;
	height: 0.95em;
	margin: 0;
	background-color: #f1c40f;
	border-top: 0.05em solid #f39c12;
}

div.scoring-platform {
	width: 2em;
	height: 0.062em;
	margin: 0;
	background-color: #3498db;
	border-top: 0.05em solid #2980b9;
}

body>div#main {
	height: calc(100% - 9em);
	overflow: hidden;
	white-space: nowrap;
}

body>div#main section {
	display: inline-block;
	position: relative;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	transition: left 0.25s linear, width 0.25s linear;
}

body>div#main section>div {
	display: inline-block;
	height: calc(100% - 0.5em);
	border-bottom: 0.5em solid #555;
	font-size: 3em;
}

body>div#main section>div.active {
	background-color: #ecf0f1;
	border-bottom: 0.5em solid #777;
}

body>div#main section>div.spacer {
	width: 1em;
	transition: width 0.125s ease;
}

body>div#main section>div.spacer.active {
	width: 2em;
}

body>div#main section>div.stack {
	position: relative;
	width: 2em;
}

body>div#main section>div.stack>div {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
}

body>div#palette {
	height: 3em;
	overflow-x: auto;
	overflow-y: hidden;
	background-color: #222;
	font-size: 3em;
	text-align: center;
}

body>div#palette>div {
	display: inline-block;
	width: 2em;
	max-height: 2em;
	padding: 0.5em;
}
