
@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Light.ttf');
	font-weight: 300;
}


html, body {
	width: 100%;
	margin: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

nav {
	width: 100%;
	background-color: #3498db;
	text-align: center;
}

nav a {
	display: inline-block;
	color: #fff;
	padding: 1em 2.5em;
	font-size: 1.25em;
	font-weight: 300;
	cursor: pointer;
}

section {
	display: none;
	width: 37.5%;
	margin: 0 auto;
	margin-top: 2.5em;
}

section form {
	width: 100%;
	margin: 0;
	border-left: 1px solid #ecf0f1;
	border-right: 1px solid #ecf0f1;
	text-align: center;
}

section form div {
	display: inline-block;
}

section form div.left {
	width: calc(50% - 1px);
	border-right: 1px solid #ecf0f1;
}

section form div.right {
	width: 50%;
}

section form input {
	display: block;
	margin: 0;
	border: none;
	outline: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.25em;
	font-weight: 300;
	text-align: center;
	box-sizing: content-box;
}

section form input:focus {
	outline: none;
}

section form input[type='text'] {
	color: #777;
	width: calc(100% - 1.5em);
	padding: 0.75em;
	background-color: #fff;
	border-top: 1px solid #ecf0f1;
}

section form a {
	display: block;
	color: #777;
	width: 100%;
	padding: 0.75em 0;
	background-color: #ecf0f1;
	font-size: 1.25em;
	font-weight: 300;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}

section form a.inline {
	display: inline-block;
	width: 50%;
}

section#manageDevices div {
	border: 1px solid #ecf0f1;
	border-right: none;
	margin-bottom: 0.75em;
}

section#manageDevices div span {
	display: inline-block;
	color: #555;
	padding: 0.5em 1em;
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1em;
}

section#manageDevices div a {
	float: right;
	display: inline-block;
	color: #fff;
	width: 1em;
	height: 1em;
	padding: 1.5em;
	background-color: rgba(231, 76, 60, 0.75);
	font-size: 0.75em;
	font-weight: 300;
	line-height: 1em;
	text-decoration: none;
	cursor: pointer;
}

section#manageDevices>a {
	display: block;
	color: #777;
	padding: 0.75em 0;
	background-color: #ecf0f1;
	font-size: 1.25em;
	font-weight: 300;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}
